{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Настройки</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/videos">Видео</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Настройки</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="accordion border accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Paths
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-10" scope="col">Путь</th>
                                        <th class="col-2" scope="col">Удаление</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for path in paths %}
                                    <tr>
                                        <td class="border rounded-pill">
                                            <p id='path' class="fst-italic fs-5">{{path.path}}</p>
                                        </td>
                                        <td><button id="delete_path" value="{{path.id}}" type=" button"
                                                class="btn btn-outline-danger">Удалить</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="d-grid gap-2">
                                <button id="create_path" class="btn btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Создать путь</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create path</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="Succes_btn" type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/main.js"></script>
{% endblock %}